a.pc-link img {
    height:25px !important; 
    margin-bottom:5px;
    margin-right:10px;
} 
.add-user-btn{
    border-radius: 5px !important; height:35px;
} 
td.action-container { 
    display:flex; 
    gap:1rem;  
} 
span.folder-blue {
    display:grid;
    max-width:120px;  
    justify-content:center;  
    margin-right: 10px;
} 
span.folder-blue img{
    width:100% !important;
    height:100% !important;
} 
.pc-sidebar .navbar-wrapper {
    background: #0E4576 !important;
} 
.pc-mtext{
    color:white !important;
} 
ul.pc-navbar label {
    color:white !important;
}